@page "/create-token"
@model NuGetFeedTemplate.Pages.CreateTokenModel

@if(string.IsNullOrEmpty(Model.Token.UserEmail))
{
    <h1>Create a New Token</h1>
    <form method="post">
        <input name="Description" />
        <input type="submit" value="Create Token" />
    </form>
}
else
{
    <h1>Success</h1>
    <p>You have successfully created a new API Token. Be sure to write this down in a secure place as you will not be shown this key again.</p>
    <dl>
        <dt>Key</dt>
        <dd>@Model.Token.Key</dd>
        <dt>Description</dt>
        <dd>@Model.Token.Description</dd>
        <dt>Expires</dt>
        <dd>@Model.Token.Expires.Humanize()</dd>
    </dl>

}
