<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    var name = User.Claims.FirstOrDefault(x => x.Type == "name").Value;
        var email = User.Identity.Name;
<li>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="profileBtn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      @name
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileBtn">
      <div class="dropdown-header row">
        <div class="col-sm-3">
          <img src="/profile/icon" class="img" title="@User.Identity.Name" />
        </div>
        <div class="col-sm-9 dropdown-profile">
          <span class="dropdown-username">@name</span>
          <br />
          <span class="dropdown-email">@email</span>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      @if(User.IsInRole("Admin"))
      {
        <a class="dropdown-item text-dark" href="/account/manage/users">Manage Users</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-dark" href="/account/package-groups">Package Groups</a>
        <a class="dropdown-item text-dark" href="/account/publish-targets">Publish Targets</a>
      }
      <a class="dropdown-item text-dark" href="/account/apikeys">API Tokens</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
    </div>
  </div>
</li>
}
else
{
  <li class="nav-item">
    <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
  </li>
}
</ul>
