@page "/account/manage/users"
@model NuGetFeedTemplate.Pages.Account.UsersModel
@using System.Security.Claims
@{
}

<div class="page-account-settings row">
  <div class="col-sm-12 col-md12">
    <h1 role="list" class="ms-font-xl breadcrumb-title">
      <span role="listitem" class="ms-noWrap"><i class="ms-Icon ms-Icon--Contact ms-font-l" aria-hidden="true"></i></span>
      <i class="ms-Icon ms-Icon--ChevronRight ms-font-m" aria-hidden="true"></i>
      <span role="listitem" class="ms-noWrap">Users</span>
    </h1>
    <hr class="breadcrumb-divider">
    <p class="lead">Manage site users package access. Users who have Admin access can push packages, manage package groups, add package sources, and manage other users.</p>
  </div>
</div>

<div class="panel panel-default panel-collapse in" aria-expanded="true">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="150px"></th>
          <th>Name</th>
          <th width="150px">Admin Access</th>
          <th width="150px">Feed Access</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var user in Model.Users)
        {
          <tr>
            <td><img src="/profile/icon?email=@user.Email&size=100" class="img img-fluid img-circle mx-3 my-2" /></td>
            <td>
              <h4>@user.Name</h4>
              <h5>@user.Email</h5>
            </td>
            <td class="px-3">
              @if(User.FindFirstValue(ClaimTypes.Email) != user.Email)
              {
                <br />
                <form method="post" class="form-inline">
                  <input type="hidden" name="Email" value="@user.Email" />
                  <input type="hidden" name="PackagePublisher" value="@((!user.PackagePublisher).ToString())" />
                  @if(user.PackagePublisher)
                  {
                    <button type="submit" class="btn btn-primary">Remove</button>
                  }
                  else
                  {
                    <button type="submit" class="btn btn-primary">Promote</button>
                  }
              </form>
              }
            </td>
            <td class="px-3">
              @if(User.FindFirstValue(ClaimTypes.Email) != user.Email)
              {
                <!-- TODO: Add Revoke Access -->
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
